/* Write your CSS here */
.list-item-container {
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #b5b7c4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 15px;
  margin-bottom: 10px;

  min-width: 210px;
}
.title-star-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-heading {
  margin-right: 90px;
  font-size: 18px;
}
.date-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  text-align: start;

  padding-right: 70px;

  font-size: 12px;
}
.star-button {
  border: 0px none transparent;
  background-color: transparent;
}
